{% load static %}

<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i data-feather="x"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row align-items-center">

                    <div class="col-lg-6">
                        <div class="portfolio-popup-thumbnail">
                            <div class="image">
                                <img class="w-100" src="{% static 'assets/images/portfolio/cover_gkost.jpg' %}" alt="slide">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="text-content">
                            <h3>
                                <span>Featured - Design</span> Website and IoT-Based Boarding Management System.
                            </h3>
                            <p class="mb--30">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate distinctio assumenda explicabo veniam temporibus eligendi.</p>
                            <p>Consectetur adipisicing elit. Cupiditate distinctio assumenda. dolorum alias suscipit rerum maiores aliquam earum odit, nihil culpa quas iusto hic minus!</p>
                            <div class="button-group mt--20">
                                <a href="#" class="rn-btn">
                                    <span>VIEW PROJECT</span>
                                    <i data-feather="chevron-right"></i>
                                </a>
                            </div>

                        </div>
                        <!-- End of .text-content -->
                    </div>
                </div>
                <!-- End of .row Body-->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i data-feather="x"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row align-items-center">

                    <div class="col-lg-6">
                        <div class="portfolio-popup-thumbnail">
                            <div class="image">
                                <img class="w-100" src="{% static 'assets/images/portfolio/search_angine.jpg' %}" alt="slide">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="text-content">
                            <h3>
                                <span>Featured - Design</span> Build a Search Engine with Django.
                            </h3>
                            <p class="mb--30">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate distinctio assumenda explicabo veniam temporibus eligendi.</p>
                            <p>Consectetur adipisicing elit. Cupiditate distinctio assumenda. dolorum alias suscipit rerum maiores aliquam earum odit, nihil culpa quas iusto hic minus!</p>
                            <div class="button-group mt--20">
                                <a href="#" class="rn-btn">
                                    <span>VIEW PROJECT</span>
                                    <i data-feather="chevron-right"></i>
                                </a>
                            </div>

                        </div>
                        <!-- End of .text-content -->
                    </div>
                </div>
                <!-- End of .row Body-->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i data-feather="x"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row align-items-center">

                    <div class="col-lg-6">
                        <div class="portfolio-popup-thumbnail">
                            <div class="image">
                                <img class="w-100" src="{% static 'assets/images/portfolio/cover_gnetwrok.jpg' %}" alt="slide">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="text-content">
                            <h3>
                                <span>Featured - Design</span> Building a Startup Website Gatotkaca Network.
                            </h3>
                            <p class="mb--30">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate distinctio assumenda explicabo veniam temporibus eligendi.</p>
                            <p>Consectetur adipisicing elit. Cupiditate distinctio assumenda. dolorum alias suscipit rerum maiores aliquam earum odit, nihil culpa quas iusto hic minus!</p>
                            <div class="button-group mt--20">
                                <a href="#" class="rn-btn">
                                    <span>VIEW PROJECT</span>
                                    <i data-feather="chevron-right"></i>
                                </a>
                            </div>

                        </div>
                        <!-- End of .text-content -->
                    </div>
                </div>
                <!-- End of .row Body-->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i data-feather="x"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row align-items-center">

                    <div class="col-lg-6">
                        <div class="portfolio-popup-thumbnail">
                            <div class="image">
                                <img class="w-100" src="{% static 'assets/images/portfolio/gk-news.jpg' %}" alt="slide">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="text-content">
                            <h3>
                                <span>Featured - Design</span> Build a Website Explore Indonesia With React Js.
                            </h3>
                            <p class="mb--30">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate distinctio assumenda explicabo veniam temporibus eligendi.</p>
                            <p>Consectetur adipisicing elit. Cupiditate distinctio assumenda. dolorum alias suscipit rerum maiores aliquam earum odit, nihil culpa quas iusto hic minus!</p>
                            <div class="button-group mt--20">
                                <a href="#" class="rn-btn">
                                    <span>VIEW PROJECT</span>
                                    <i data-feather="chevron-right"></i>
                                </a>
                            </div>

                        </div>
                        <!-- End of .text-content -->
                    </div>
                </div>
                <!-- End of .row Body-->
            </div>
        </div>
    </div>
</div>