{% load static %}

<script src="{% static 'assets/js/vendor/jquery.js' %}"></script>
<script src="{% static 'assets/js/vendor/modernizer.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/feather.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/slick.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/bootstrap.js' %}"></script>
<script src="{% static 'assets/js/vendor/text-type.js' %}"></script>
<script src="{% static 'assets/js/vendor/wow.js' %}"></script>
<script src="{% static 'assets/js/vendor/aos.js' %}"></script>
<script src="{% static 'assets/js/vendor/particles.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>