{% load static %}
<!-- Start Slider Area -->
<div id="home" class="rn-slider-area">
    <div class="slide slider-style-1">
        <div class="container">
            <div class="row row--30 align-items-center">
                <div class="order-2 order-lg-1 col-lg-7 mt_md--50 mt_sm--50 mt_lg--30">
                    <div class="content">
                        <div class="inner">
                            <span class="subtitle">Welcome to my world</span>
                            <h1 class="title">Hi, I’m <span>Dzikri Noval S</span><br>
                                <span class="header-caption" id="page-top">
                                    <!-- type headline start-->
                                    <span class="cd-headline clip is-full-width">
                                        <span>a </span>
                                <!-- ROTATING TEXT -->
                                <span class="cd-words-wrapper">
                                            <b class="is-visible">Fresh Graduate.</b>
                                            <b class="is-hidden">Professional Coder.</b>
                                            <b class="is-hidden">Developer.</b>
                                        </span>
                                </span>
                                <!-- type headline end -->
                                </span>
                            </h1>

                            <div>
                                <p class="description" style="text-align: justify">I am a web developer with more than 3 years experience in web development. Experienced in web application development using django framework, react js, and laravel. Now focus on Back-end developer using django framework and mysql database.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-12">
                                <div class="social-share-inner-left">
                                    <span class="title">find with me</span>
                                    <ul class="social-share d-flex liststyle">
                                        <li class="instagram"><a href="https://www.instagram.com/novalsaputra65/" target="_blank" ><i data-feather="instagram"></i></a>
                                        </li>
                                        <li class="github"><a href="https://github.com/novalsaputra37" target="_blank" ><i data-feather="github"></i></a>
                                        </li>
                                        <li class="linkedin"><a href="https://www.linkedin.com/in/dzikri-noval-saputra/" target="_blank" ><i data-feather="linkedin"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-12 mt_mobile--30">
                                <div class="skill-share-inner">
                                    <span class="title">best skill on</span>
                                    <ul class="skill-share d-flex liststyle">
                                        <li><img src="{% static 'assets/images/icons/django-icon-0.jpg' %}" alt="Icons Images"></li>
                                        <li><img src="{% static 'assets/images/icons/icons-16.png' %}" alt="Icons Images"></li>
                                        <li><img src="{% static 'assets/images/icons/icons-08.png' %}" alt="Icons Images"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="order-1 order-lg-2 col-lg-5">
                    <div >
                        <div class="inner">
                            <img src="{% static 'assets/images/slider/noval.png' %}" class="rounded-lg" alt="Personal Portfolio Images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Slider Area -->